MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/?appName=default
MONGO_DB=config_store
MONGO_COLLECTION=configs
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=config_store
MYSQL_PASSWORD=config_store_password
MYSQL_DATABASE=config_store
SYNC_INTERVAL=60
